<%- include('parts/header'); -%>
    <div class="main d-flex ">
        <%- include('parts/sidebar'); -%>
            <div class="vert_line"></div>
            <div class="container">
                <div class="d-flex justify-content-center">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
    </div>

<div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
        <h3 class="mb-0">Edit Profile</h3>
    </div>
    <div class="card-body pt-0">
        <table class="table table-bordered">
            <tr>
                <th width="30%">Roll no</th>
                <td width="2%">:</td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <th width="30%">Admission year</th>
                <td width="2%">:</td>
                <td><input type="month"></td>
            </tr>
            <tr>
                <th width="30%">Graduation Year </th>
                <td width="2%">:</td>
                <td><input type="month"></td>
            </tr>
            <tr>
                <th width="30%">Skills</th>
                <td width="2%">:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th></th>
                <td width="30%"><button class="btn btn-primary">Done</button></td>
                <th width="30%"><button class="btn btn-primary">Cancel</button></th>
            </tr>
            
        </table>
    </div>

    

    <script src="/javascripts/jquery-3.6.0.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    </body>

    </html>