<div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
        <h3 class="mb-0">Edit Profile</h3>
    </div>
    <div class="card-body pt-0">
        <table class="table table-bordered">
            <tr>
                <th width="30%">Roll no</th>
                <td width="2%">:</td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <th width="30%">Admission year</th>
                <td width="2%">:</td>
                <td><input type="month"></td>
            </tr>
            <tr>
                <th width="30%">Graduation Year </th>
                <td width="2%">:</td>
                <td><input type="month"></td>
            </tr>
            <tr>
                <th width="30%">Skills</th>
                <td width="2%">:</td>
                <td><input type="text"></td>
            </tr>
        </table>
    </div>