<header class="d-flex justify-content-between p-1 text-light">
    <div class="proj d-flex align-items-center">
        <div class="proj_logo px-1">
            <img src="" alt="Logo">
        </div>
        <div class="proj_name ps-3 fs-2">
            <h1 class="V d-inline fw-bold">V</h1>
            <h3 class="proj_name d-inline fw-bold">idyarth</h3>
        </div>
    </div>
    <div class="info d-flex align-items-center fw-bold">
        A perfect place for collaboration.
    </div>
    <div class="logout d-flex align-items-center m-5">
        <i class="far fa-bell mx-3 fs-3 text-light "></i>
        <button class="logout d-flex justify-content-center btn btn-outline-primary rounded px-3 text-light">
            Log out
        </button>
    </div>
</header>