<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
    <div class="container min-vh-100 mx-auto">
        <div class="row d-flex justify-content-center mb-0 ">




            <div class="col-10 mt-5 shadow" style="  height: 85vh;">
                <div class="row">
                    <div class="col-5 " style="height: 85vh; background-color: white;">
                        <a href="/auth/google" class="btn   ms-5 " style="background-color: #6246ea; color: white; margin-top:250px !important;">Sign
                                in
                                with Google</a>
                        <div class="alert alert-warning  fade show mt-3" role="alert">
                            Login With Only <b> mpgi.edu.in</b> email ID
                        </div>
                    </div>
                    <div class="col-7" style="background-color: #d1d1e9; background-image: url('/images/login.svg') ;background-position: center; background-repeat: no-repeat; background-size:80vh 80vw  ">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Scripts and Others -->
    <script src="/javascripts/jquery-3.6.0.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>

</html>