<div class="container d-flex">
    <div class="newscard text-center rounded">
        <div class="card-header">
            New Rules
        </div>
        <div class="card-body bg-light my-1">
            <h5 class="card-title">Update 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
            <a href="#" class="btn btn-primary">Upvote</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
    <div class="engagement d-flex flex-column align-self-center">
        <i class="far fa-thumbs-up fs-6 m-2 ./"></i>
        <i class="far fa-comment fs-6 m-2"></i>
    </div>
</div>