<div class="student-profile d-flex justify-content-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                        <img class="profile_img" src="<%= image %>" alt="student dp">
                        <h3>
                            <%= name %>
                        </h3>
                        <p class="mb-2">
                            <%= email %>
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="mb-2"><strong class="pr-1">Student ID : </strong>321000001</p>
                        <p class="mb-2"><strong class="pr-1">Branch : </strong>CS</p>
                        <p class="mb-2"><strong class="pr-1">Year : </strong>3</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">General Information</h3>
                    </div>
                    <div class="card-body pt-0">
                        <table class="table table-bordered">
                            <tr>
                                <th width="30%">Roll no</th>
                                <td width="2%">:</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <th width="30%">Admission year</th>
                                <td width="2%">:</td>
                                <td>2018</td>
                            </tr>
                            <tr>
                                <th width="30%">Graduation Year </th>
                                <td width="2%">:</td>
                                <td>2022</td>
                            </tr>
                            <tr>
                                <th width="30%">Skills</th>
                                <td width="2%">:</td>
                                <td>skill1, skill2</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="height: 26px"></div>
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">Other Information</h3>
                    </div>
                    <div class="card-body pt-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/profile/edit" type="button" class="edit_profile btn btn-outline-primary rounded d-flex align-self-end">Edit
        Profile</a>
</div>