<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="d-flex justify-content-between p-1 text-light">
        <div class="proj d-flex align-items-center">
            <div class="proj_logo px-1">
                <img src="" alt="Logo">
            </div>
            <div class="proj_name ps-3 fs-2">
                <h1 class="V d-inline fw-bold">V</h1>
                <h3 class="proj_name d-inline fw-bold">idyarth</h3>
            </div>
        </div>
        <div class="info d-flex align-items-center fw-bold">
            A perfect place for collaboration.
        </div>
        <div class="logout d-flex align-items-center m-5">
            <i class="far fa-bell mx-3 fs-3 text-light "></i>
            <a href="/logout" class="logout d-flex justify-content-center btn btn-outline-primary rounded px-3 text-light" role="button" aria-disabled="true">Logout</a>

        </div>
    </header>